accelerate
biopython
datasets
gitpython
markdownify
mwparserfromhell
peft==0.12.0
pyyaml
sentencepiece
tokenizers
transformers==5.0.0rc1
torch
trl
union
flytekitplugins-kfpytorch
flytekitplugins-inference>=1.13.6b1
